
<!-- Ici je met en place l'affichage et le refresh du like: -->


<form action="{% url 'articles:like-statut' article.id %}" method="POST">
    {% csrf_token %}
        <input type="hidden" value="{{ request.path }}" name="next">
          <button type="submit" name="like" class="like-button" data-article-id="{{article.id}}">
                {% if user_like_statut and user_like_statut.liked %}
                    <span class="heart-liked">❤️</span>
                {% else %}
                    <span class="heart-avoid">🖤</span>
                {% endif %}
          </button>
</form>