{% extends 'base.html' %}


        {% block title %} 
        My Posts
        {% endblock title %}




        {% block content %}

        <h3>Here my posts : updates</h3>

        <!-- Je boucle pour parcourir tout mes articles -->
        {% if articles %}

            {% for article in articles %}
                <!-- j'affiche le contenu de l'article : -->
                <div class="article-container">
                    {% include 'articles/_article.html' %}
                </div>   


                <!--  affichage du coeur en fonction du statut du like: -->
                <div class="like-container">
                    
                    {% include 'articles/_like.html' %}
                </div>
                
                <hr>
                <h3>Comments :</h3>
                <!-- affiche les coms -->
                <div class="comment-container">
                    {% for comment in article.comment_set.all %}
                        {% include 'comments/_comment.html' %}
                    {% endfor %}
                </div>
                    <hr>
            {% endfor %}

        {% else %}

        <h4>Nothing for now !</h4>

        {% endif %}

        {% endblock content %}