{% extends 'base.html' %}


        {% block title %} 
            Details
        {% endblock title %}



        {% block content %}
        <h3>Article Details:</h3>
        <hr>

        <!--  FAIT -->
        <!-- corps de l'article a afficher : -->
        <div class="article-detail-container">
            {% include 'articles/_article.html' %}
        </div>


        <!--  FAIT-->
        <!--  affichage du coeur en fonction du dtatut du like: -->
        <div class="like-container">
            {% include 'articles/_like.html' %}
        </div>



        <!--  FAIT -->
        <!-- commentaire posté et visibles : -->
        <div class="commentary-posted-container">
        {% if comments %} 

            ################COMMENTS######## <br>

                {% for comment in comments %}
                    {% include 'comments/_comment.html' %}
                    <br>
                    ----------------------------------------
                    <br>
                   
                {% endfor %}

            ########    ######   ####

        {% else %}

        <h4>No comment for now !</h4>

            {% endif %}
        </div>

        <!-- commentaire à poster : -->
        <div class="commentary-form-container">
            <h5>Leave comment:</h5>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Post!">
            </form>
        </div>

        {% endblock content %}