{% extends 'base.html' %}

        {% block title %} 
        Feed
        {% endblock title %}

        {% block content %}
        <h3>Feed of Insta: TAMER</h3>

        <!-- Je boucle pour parcourir tout mes articles -->
{% if articles %}


    {% for article in articles %}

                        <!-- corps de l'article a afficher : -->
        <div class="article-detail-container">
            {% include 'articles/_article.html' %}
        </div>


        <!--  FAIT-->
        <!--  affichage du coeur en fonction du dtatut du like: -->
        <div class="like-container">
            {% include 'articles/_like.html' %}
        </div>



        <!--  FAIT -->
        <!-- commentaire posté et visibles : -->
        <div class="commentary-posted-container">
        {% if article.comment_set.all %} 

            ################COMMENTS######## <br>
                <!-- {% for comment in article.comment_set.all %}     -->
                {% for comment in article.comment_set.all %}
                    {% include 'comments/_comment.html' %}
                    <br>
                    ----------------------------------------
                    <br>
                {% endfor %}

            ########    ######   ####

        {% else %}
        <h4>No comment for now !</h4>

        {% endif %}
        </div>

        <!-- commentaire à poster : -->
            {% include 'comments/_post_a_comment.html' %}
      
    {% endfor %}






{% else %}

        <h4>Nothing for now !</h4>
        
{% endif %}

        {% endblock content %}